{% extends 'layout.html' %}

{% block body %}
<div style="text-align: center;">
<img src="https://user-images.githubusercontent.com/52009346/70005631-98a6b400-156a-11ea-8097-8c2f1bdefacc.png"
                style="width:1140px;height:100px;"><br><br>
</div>

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Contributors</h1>
      <hr>
      <p>Here you will find of all the people who have contributed to the development of the python tool pwptemp and/or
      this web app version:</p>
      <ul>
      <li>Juan Camilo Gonzalez Angarita <a href="https://github.com/jcamiloangarita">jcamiloangarita</a></li>
      <li>Muhammad Suleman <a href="https://github.com/msfazal">msfazal</a></li>
      <li>Eirik Lyngvi <a href="https://github.com/elyngvi">elyngvi</a></li>
      <li>Magnus Tvedt <a href="https://github.com/magnusbj">magnusbj</a></li>
      </ul>

    </div>
  </div>
</div>

{% endblock %}
