{% extends 'layout.html' %}

{% block body %}
<div style="text-align: center;">
<img src="https://user-images.githubusercontent.com/52009346/70005631-98a6b400-156a-11ea-8097-8c2f1bdefacc.png"
                style="width:1140px;height:100px;"><br><br>
</div>

     <p>pwptemp is a small LGPL licensed library for easy calculation of the temperature distribution along the well.
     Features are added as they are needed; suggestions and contributions of all kinds are very welcome.</p>
     <p>Check the repo on for this web application: <a href="https://github.com/pro-well-plan/pwptemp-web-app">pwptemp web app - Github</a></p>
     <p>Check the repo on for the python tool: <a href="https://github.com/pro-well-plan/pwptemp">pwptemp - Github</a></p>
     <p>Available from the Python Package Index: <a href="https://pypi.org/project/pwptemp">pwptemp - PyPI</a></p>

     <p>For further information contact juan@prowellplan.com</p>

<div style="text-align: center;">
  <iframe width="708" height="398" align="center" src="https://www.youtube.com/embed/mOE9DS5mzoE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope" allowfullscreen></iframe>
</div>


{% endblock %}