<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>pwptemp web app</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "/css_buttons/bootstrap-social.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    {% include 'includes/_navbar.html' %}

    <div class="container">
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.11.2/basic/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('editor');
        // CKEDITOR.config.autoParagraph = false;
    </script>
    <style>
    body {
      background-image: url('https://user-images.githubusercontent.com/52009346/70091478-78cfc880-161c-11ea-976a-71adb294bc40.jpg');
    }
    </style>
</body>
</html>