{% extends 'layout.html' %}

{% block body %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>

<body>

    <div class="container" style="text-align: center;">
    <img src="https://user-images.githubusercontent.com/52009346/70005631-98a6b400-156a-11ea-8097-8c2f1bdefacc.png"
                    style="width:100%;height:15%;opacity:0.8"><br><br>
    </div>

    <div class="container" style="text-align: left;">

          <h1>pwptemp for production</h1>
          <hr>
          <p>In this section will be possible to generate the well temperature distribution for a production operation.
              This section is still under development</p>
          <p>For further information contact juan@prowellplan.com</p><br>
    </div>


</body>

{% endblock %}