{% extends 'layout.html' %}

{% block body %}
     <h1>pwptemp web app</h1>
     <p>pwptemp is a small LGPL licensed library for easy calculation of the temperature distribution along the well.</p>
     <p><a href="https://github.com/pro-well-plan/pwptemp">pwptemp - Github</a></p>
     <p><a href="https://github.com/pro-well-plan/pwptemp-web-app">pwptemp web app - Github</a></p>
     <p><a href="https://pypi.org/project/pwptemp">pwptemp - PyPI</a></p>

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Inputs</h1>
      <hr>

      <form action="/profile" method="POST">

        <div class="form-group">
          <label>Circulation Time (h)</label>
          <input type="text" id="time" name="time" placeholder="Time">
        </div>

        <div class="form-group">
          <label>Total Depth (m)</label>
          <input type="text" id="depth" name="depth" placeholder="Depth">
        </div>

        <div class="form-group">
          <label>Water Depth (m)</label>
          <input type="text" id="wd" name="wd" placeholder="Water depth">
        </div>

        <div class="form-group">
          <label>Well Profile </label><br>
          <input type="radio" name="well_profile" value="V" checked> Vertical<br>
          <input type="radio" name="well_profile" value="J"> J-type<br>
          <input type="radio" name="well_profile" value="S"> S-type<br><br>
          <input type="text" id="kop" name="kop" placeholder="kop">
          <input type="text" id="eob" name="eob" placeholder="eob">
          <input type="text" id="build_angle" name="build_angle" placeholder="build angle">
          <input type="text" id="kop2" name="kop2" placeholder="kop2">
          <input type="text" id="eob2" name="eob2" placeholder="eob2">
          <input type="text" id="sod" name="sod" placeholder="sod">
          <input type="text" id="eod" name="eod" placeholder="eod">
        </div>

        <button type="submit" class="btn btn-primary">Run</button>

      </form>

    </div>
  </div>
</div>

{% endblock %}